1*Introducao*Mundo*IA*Generativa/3*Introducao*Inteligencia*Artificial/captela
1*Introducao*Mundo*IA*Generativa/4*Aplicacoes*e*Impacto*da*IA*no*Mundo*Atual/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/1*Introducao*e*Apresentacao/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/2*Revolucao*das*IAs*Generativas/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/3*IA*no*Cotidiano*Contextualizacao/captela
2*Explorando*IAs*Generativas*na*AWS/