1*Introducao*Mundo*IA*Generativa/3*Introducao*Inteligencia*Artificial/captela
1*Introducao*Mundo*IA*Generativa/4*Aplicacoes*e*Impacto*da*IA*no*Mundo*Atual/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/1*Introducao*e*Apresentacao/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/2*Revolucao*das*IAs*Generativas/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/3*IA*no*Cotidiano*Contextualizacao/captela1
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/3*IA*no*Cotidiano*Contextualizacao/captela2
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/3*IA*no*Cotidiano*Contextualizacao/captela3
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/3*IA*no*Cotidiano*Contextualizacao/captela4
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/3*IA*no*Cotidiano*Contextualizacao/captela5
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/3*IA*no*Cotidiano*Contextualizacao/captela6
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/4*IA*na*Industria/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/5*Conclusao*e*Perspectivas*Futuras/captela
1*Introducao*Mundo*IA*Generativa/5*Aplicacoes*Praticas*Inteligencia*Artificial/6*Materiais*Complementares*e*Questionario/captela
2*Explorando*IAs*Generativas*na*AWS/1*Prototipando*Solucoes*Reais*PartyRock*AWS/captela
2*Explorando*IAs*Generativas*na*AWS/2*Amazon*Bedrock*Escolha*Personalizacao*Modelos/captela
2*Explorando*IAs*Generativas*na*AWS/3*Construindo*Agente*Autonomos*Amazon*Nova*AgentCore/captela
2*Explorando*IAs*Generativas*na*AWS/4*Associando*Conceitos*IAs*Generativas/captela
2*Explorando*IAs*Generativas*na*AWS/5*Desafios*Projets*Crie*Portiflio*Vencedor/captela
2*Explorando*IAs*Generativas*na*AWS/6*Natural*ou*Fake*Natty*COm*Vencer*na*Era*das*IAs*Generativas/captela
